.white {
    background-color: white;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.salmon {
    background-color: salmon;
}

.teal {
    background-color: teal;
}

.red {
    background-color: red;
}